{% extends 'base.html' %}
{% block c1 %}

<h1>Admin registration</h1>
<form method="post" action="admin_reg">
    <p>Name<input type="text" name="T1"></p>
    <p>Roll no.<input type="text" name="T2"></p>
    <p>Branch <input type="text" name="T3"></p>
    <p>Address<input type="text" name="T4"></p>
    <p>Contact <input type="text" name="T5"></p>
    <p>Email <input type="email" name="T6"></p>
    <p>Password<input type="password" name="T7"></p>
    <p>Confirm password <input type="password" name="T7"></p>
    <p><input type="submit" value="Register"></p>
</form>

{% if mg %}
    <h2>{{mg}}</h2>
{% endif %}


{% endblock %}