{% extends 'base.html' %}
{% block c1 %}
<h1 align="center" style="font-size: 40px;">User registration</h1>
<form method="post" action="user_reg" style="text-align: center; font-size: 18px;">
    <p>Name<input type="text" name="T1" style="margin-left: 100px;"></p>
    <p>Roll no.<input type="text" name="T2" style="margin-left: 85px"></p>
    <p>Branch <input type="text" name="T3" style="margin-left: 87px"></p>
    <p>Address<input type="text" name="T4" style="margin-left: 85px"></p>
    <p>Contact <input type="text" name="T5" style="margin-left: 82px"></p>
    <p>Email <input type="email" name="T6" style="margin-left: 95px"></p>
    <p>Password<input type="password" name="T7" style="margin-left: 70px"></p>
    <p>Confirm password <input type="password" name="T7" style="margin-left: "></p>
    <p><input type="submit" value="Register" style="font-size: 22px;"></p>
</form>

{% if mg %}
    <h2>{{mg}}</h2>
{% endif %}

{% endblock %}

