{% extends 'base.html' %}
{% block c1 %}
<h1>User Home</h1>

{% if photo=='no' %}
    <h3>No profile picture</h3>
    <a href="upload_photo">Upload</a>
{% else %}



    <img src="../static/photos/{{photo[0]}}" width="100px" height="100px" /><br/>
    <a href="change_photo">Change profile picture</a><br/>
    <a href="delete_photo">Delete Profile Picture</a><br/>

{% endif %}


<a href="user_reg">Create new</a><br/>
<p><a href="ask_question">Ask Question</a> </p>
<p><a href="change_password">Change password</p>
<p><a href="my_questions">Show asked questions</a></p>
<p><a href="answer_questions">Answer Questions</a></p>
<a href="logout">Logout</a>

{% endblock %}


